.navbar {
    background-color: transparent;
}

.navbar a {
    color:rgb(0, 0, 0);
}



.nav-link:hover {
    background-color: green;
}

.navbar-brand:hover{
    background-color: green;
}

.modal {
    border: none;
}

.modal-body {
    background-color: black;
    border: none;
}
.modal-header {
    background-color: black;
    border: none;
}

.fa-times-circle {
    color: white;
}