.navbar {
    background-color:black;
}

.navbar a {
    color:white;
}



.nav-link:hover {
    background-color: green;
}

.navbar-brand:hover{
    background-color: green;
}

.modal {
    border: none;
}

.modal-body {
    background-color: black;
    border: none;
}
.modal-header {
    background-color: black;
    border: none;
}