.navbar {
    background-color:black;
}

.navbar a {
    color:white;
}

.modal {
    border: none;
}

.modal-body {
    background-color: black;
    border: none;
}
.modal-header {
    background-color: black;
    border: none;
}