
body {
    color: black;
    background: linear-gradient(115deg, #27a7b8 20%, #ffffff 20%);
    background-repeat: no-repeat;
}

// #28a745


/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(16, 90, 95, 0.774) radial-gradient(circle, transparent 1%, rgba(16, 90, 95, 0.774) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(16, 90, 95, 0.774);
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: rgba(16, 90, 95, 0.774);
  box-shadow: 0 0 4px #999;
  outline: none;
}

/* Hover */ 
.hover {
  transition: all 0.5s;
}

.hover:hover {
  opacity:0.5;
}

