.profilePic {
    height: 200px;
    width: 200px;
}

.profileBox {
    margin-top: 20px;
    padding-top: 5px!important;
    background-color: rgb(255, 255, 255);
    width: 250px;
}

// .gameCard {
//     width: 200px;
//     max-width: 200px;
//     min-width: 200px;
//     height: 300px;
//     margin: auto;
//     border: none;
// }

.card-header {
    background-color: white;
    font-size: 30px;
    padding-top: 0px;
}

.profileContainer{
    padding: 0px;
}