.profilePic {
    height: 200px;
    width: 200px;
}

.profileBox {
    margin-top: 25px;
    background-color: black;
}

.gameCard {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 300px;
    margin: auto;
    border: none;
}

.profileContainer{
    padding: 0px;
}