.gameCard {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 275px;
}

.gameCardImg{
    height: 200px;
}

.favbtn {
    width: 40px; 
    height: 40px; 
    padding: 6px 0px; 
    border-radius: 30px; 
    font-size: 8px; 
    text-align: center;
    border: none;
    position: absolute;
    bottom: -18px;
    right: -18px;
    margin-bottom: 10px;
}