.gameCard {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 300px;
    margin: auto;
    background: none;
    position: relative;
}

.tableContainer{
    padding: 0px;
}

.favbtn {
    width: 40px; 
    height: 40px; 
    padding: 6px 0px; 
    border-radius: 30px; 
    font-size: 8px; 
    text-align: center;
    border: none;
    position: absolute;
    bottom: -18px;
    right: -18px;
    margin-bottom: 10px;
}
